*{
  padding: 0;
  margin: 0;
  border: 0;
}

input,button {
  font-family: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  min-width: 320px; 
  max-width: 1920px;
}

.home-page {                       
  background: linear-gradient(to right, #000 460px, #fff 460px);
  height: 900px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.logo {
  display: inline-block;
  padding: 34px 0 0 51px;
}

.logo__loco {
  display: inline-block;
  margin-right: 237px;
  color: #fff;
  font: normal 500 30px/37px;
  letter-spacing: .07em;
}

.logo__lang {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font: normal 500 20px/24px;
  cursor: pointer;
}

.logo__lang:hover {
  background: #e4c2d1;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 7px;
}

.square {
  width: 92px;
  height: 92px;
  background: #E5E5E5;
}

.square__burger {
  padding: 40px 29px;
  cursor: pointer;
}

.square__burger:hover {
  background: #e4c2d1;
}

.home {
  position: relative;
}

.wrap-foto {
  display: inline-block;
  padding: 0 52px 0 185px;
  margin-bottom: 78px;
}

.wrap-img {
  display: none;
}

.wrap-coll {
  display: inline-block;
  position: absolute;
  padding-top: 102px;
}

.wrap-coll__new {
  font: normal bold 80px/81px;
  padding-left: 2px;
  margin-bottom: 19px;
}

.wrap-coll__delivery {
  font: normal normal 15px/21px;
  padding: 0 185px 0 3px;
  margin-bottom: 37px;
}

.wrap-coll__read {
  display: inline-block;
  border: 1.5px solid #000;
  font: normal 500 13px;
  padding: 13px 40px;
  margin-right: 49px;
  cursor: pointer;
  background: #fff;
}

.wrap-coll__read:hover {
  background: #e4c2d1;
}

.wrap-coll__other {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font: normal 500 13px;
  cursor: pointer;
}

.wrap-coll__other:hover {
  background: #e4c2d1;
}

.arrow {
  display: inline-block;
  top: 20px;
  right: 400px;
  width: 42px;
  height: 1.5px;
  background: #000;
  margin: 0 0 4px 20px;
}

.arrow:before {
  content: '';
  display: block;
  width: 8px;
  height: 1.4px;
  background: #000;
  margin-left: 36px;
  transform: rotate(-45deg);
  transform-origin: 100% 0%;
}

.arrow:after {
  content: '';
  display: block;
  width: 8px;
  height: 1.4px;
  background: #000;
  margin-left: 36px;
  transform: rotate(45deg);
  transform-origin: 100% 0%;
}

.wrap-social {
  display: block;
  position: absolute;
}

.wrap-social__inst {
  cursor: pointer;
  margin: 0 0 0 52px;
  padding-right: 8px;
}

.wrap-social__inst:hover {
  background: #e4c2d1;
}

.wrap-social__vk {
  cursor: pointer;
  padding-right: 8px;
}

.wrap-social__vk:hover {
  background: #e4c2d1;
}

.wrap-social__face {
  cursor: pointer;
}

.wrap-social__face:hover {
  background: #e4c2d1;
}

.wrap__ellips {
  cursor: pointer;
  display: block;
  margin: auto;
}

.wrap__ellips:hover {
  background: #e4c2d1;
}


@media (max-width: 1920px) {
  .home-page {
    background: linear-gradient(to right, #000 560px, #fff 560px);
    /*height: 100vh; */
  }

  .header {
    margin-bottom: 60px;
  }

  .logo__loco {
    font-size: 40px;
    margin-right: 297px;
  }

  .logo__lang {
    font-size: 25px;
  }

  .square {
    width: 102px;
    height: 102px;
  }

  .square__burger {
    padding: 44px 34px;
  }

  .wrap-foto {
    /*width: 36%;*/
    padding: 0 89px 0 185px;
    margin-bottom: 70px;
  }

  .wrap-coll {
    padding-top: 72px;
  }

  .wrap-coll__new {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 20px;
  }

  .wrap-coll__delivery {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 47px;
    padding: 0 165px 0 3px;
  }

  .wrap-coll__read {
    font-size: 17px;
    padding: 16px 43px;
    margin-right: 85px;
  }

  .wrap-coll__other {
    font-size: 17px;
  }

  .arrow {
    width: 62px;
    margin: 0 0 4px 40px;
  }

  .arrow:before {
    margin-left: 56px;
  }
  
  .arrow:after {
    margin-left: 56px;
  }

  /*.wrap-social {
    display: block;
    position: absolute;
  }*/

  .wrap__ellips {
    display: block;
    margin: auto;
  }
}


@media (max-width: 1600px) {
  .home-page {
    background: linear-gradient(to right, #000 500px, #fff 500px);
   /* height: 100vh; */
  }

  .header {
    margin-bottom: 77px;
  }

  .logo__loco {
    font-size: 35px;
    margin-right: 257px;
  }

  .logo__lang {
    font-size: 22px;
  }

  .square {
    width: 97px;
    height: 97px;
  }

  .square__burger {
    padding: 42px 32px;
  }

  .wrap-foto {
    width: 34%;
    padding: 0 72px 0 185px;
    margin-bottom: 68px;
  }

  .wrap-coll {
    padding-top: 52px;
  }

  .wrap-coll__new {
    font-size: 85px;
    line-height: 85px;
    margin-bottom: 19px;
  }

  .wrap-coll__delivery {
    font-size: 19px;
    line-height: 29px;
    padding: 0 145px 0 3px;
    margin-bottom: 37px;
  }

  .wrap-coll__read {
    font-size: 15px;
    padding: 13px 40px;
    margin-right: 65px;
  }

  .wrap-coll__other {
    font-size: 15px;
  }

  .arrow {
    width: 52px;
    margin: 0 0 4px 40px;
  }

  .arrow:before {
    margin-left: 46px;
  }
  
  .arrow:after {
    margin-left: 46px;
  }
}

@media (max-width: 1440px) {
  .home-page {
    background: linear-gradient(to right, #000 460px, #fff 460px);
    /*height: 100vh;*/
  }

  .logo__loco {
    font-size: 30px;
    margin-right: 237px;
  }

  .logo__lang {
    font-size: 20px;
  }

  .square {
    width: 92px;
    height: 92px;
  }

  .square__burger {
    padding: 40px 29px;
  }

  .wrap-foto {
    width: auto;
    padding: 0 52px 0 185px;
    margin-bottom: 80px;
  }

  .wrap-coll {
    padding-top: 102px;
  }

  .wrap-coll__new {
    font-size: 80px;
    margin-bottom: 19px;
  }

  .wrap-coll__delivery {
    font-size: 15px;
    line-height: 21px;
    padding: 0 185px 0 3px;
  }

  .wrap-coll__read {
    font-size: 13px;
    margin-right: 49px;
  }

  .wrap-coll__other {
    font-size: 13px;
  }

  .arrow {
    width: 42px;
    margin: 0 0 4px 20px;
  }

  .arrow:before {
    margin-left: 36px;
  }
  
  .arrow:after {
    margin-left: 36px;
  }

  .wrap-social {
    display: block;
    margin-right: 496px;
  }

  .wrap__ellips {
    display: block;
    margin: auto;
  }
}

@media (min-width: 1282px) and (max-width: 1439px){
  .wrap-foto {
    width: 38%;
    padding: 0 52px 0 125px;
    margin-bottom: 80px;
  }

  .wrap-coll {
    padding-top: 82px;
  }

  .wrap-coll__new {
    font-size: 75px;
  }
}

@media (max-width: 1281px) {
  .header {
    margin-bottom: 37px;
  }

  .wrap-foto {
    width: 40%;
    padding: 0 52px 0 105px;
    margin-bottom: 38px;
  }

  .wrap-coll {
    width: 45%;
    padding-top: 53px;
  }

  .wrap-coll__delivery {
    padding: 0 105px 0 3px;
  }

  .wrap-social {
    margin-right: 0;
  }
}

@media (max-width: 1152px) {
  .wrap-foto {
    padding: 0 52px 0 85px;
    margin-bottom: 98px;
  }

  .wrap-coll {
    padding-top: 33px;
  }

  .wrap-coll__new {
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 9px;
  }

  .wrap-coll__delivery {
    padding: 0 85px 0 3px;
    margin-bottom: 17px;
  }

  .wrap-coll__read {
    font-size: 12px;
    padding: 10px 37px;
    margin-right: 19px;
  }

  .wrap-coll__other {
    font-size: 12px;
  }
}

@media (max-width: 1025px) {
  .home-page {
    background: linear-gradient(to right, #000 330px, #fff 330px);
    /*height: 100vh;*/
  }

  .logo {
    padding: 20px 0 0 31px;
  }

  .logo__loco {
    font-size: 25px;
    margin-right: 157px;
  }

  .logo__lang {
    font-size: 16px;
  }

  .square {
    width: 72px;
    height: 72px;
  }

  .square__burger {
    padding: 29px 19px;
  }

  .wrap-foto {
    width: 34%;
    padding: 0 42px 0 45px;
    margin-bottom: 28px;
  }

  .wrap-coll {
    padding-top: 43px;
  }

  .wrap-coll__new {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 10px;
  }

  .wrap-coll__delivery {
    font-size: 13px;
    padding: 0 5px 0 3px;
    margin-bottom: 25px;
  }

  .wrap-coll__read {
    font-size: 10px;
    padding: 8px 31px;
    margin-right: 35px;
  }

  .wrap-coll__other {
    font-size: 10px;
  }

  .arrow {
    width: 33px;
    margin: 0 0 4px 20px;
  }
  .arrow:before {
    margin-left: 26px;
  }
  .arrow:after {
    margin-left: 26px;
  }

  .wrap-social__inst {
    width: 18%;
  }
  .wrap-social__vk {
    width: 18%;
  }
  .wrap-social__face {
    width: 18%;
  }

  .wrap__ellips {
    width: 2%;
  }
}

@media (max-width: 854px) {
  .home-page {
    background: linear-gradient(to right, #000 250px, #fff 250px);
    /*height: 100vh;*/
  }

  .header {
    margin-bottom: 17px;
  }

  .logo__loco {
    font-size: 22px;
    margin-right: 87px;
  }

  .logo__lang {
    font-size: 15px;
  }

  .square {
    width: 62px;
    height: 62px;
  }

  .square__burger {
    padding: 24px 14px;
  }

  .wrap-foto {
    display: none;
  }

  .wrap-img {
    display: inline-block;
    width: 34%;
    padding: 0 30px;
  }

  .wrap-coll__new {
    font-size: 38px;
    line-height: normal;
    margin-bottom: 5px;
    padding: 0;
  }
  .wrap-coll__delivery {
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px 0 3px;
    margin-bottom: 19px;
  }
  .wrap-coll__read {
    font-size: 9px;
    padding: 8px 25px;
    margin-right: 25px;
  }
  .wrap-coll__other {
      font-size: 9px;
  }
  .arrow {
    width: 33px;
    margin: 0 0 4px 15px;
  }
  .wrap-social {
    display: none;
  }
  .wrap__ellips {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .home-page {
    background: none;
  }

  .header {
    margin-bottom: 0;
  }

  .logo {
    padding: 20px 0 0 31px;
  }

  .logo__loco {
    font-size: 30px;
    color: #000;
    margin-right: 0;
  }

  .logo__lang {
    display: none;
  }

  .square {
    width: 70px;
    height: 70px;
  }

  .square__burger {
    padding: 28px 18px;
  }

  .wrap-coll {
    padding-top: 0;
  }

  .wrap-foto {
    display: block;
    position: absolute;
    width: 100%;
    padding: 0;
  }

  .wrap-img {
    display: none;
  }

  .wrap-coll__new {
    font-size: 49px;
    top: 595px;
    padding: 0 0 0 230px;
    position: relative;
  }

  .vector {
    display: block;
    width: 100%;
    margin-left: 119px;
    cursor: pointer;
    position: relative;
    bottom: 10px;
  }

  .vector:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 3px;
    background: #000;
    transform: rotate(45deg);
    transform-origin: 120% 100%;
  }

  .vector:after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 3px;
    background: #000;
    transform: rotate(-405deg);
    transform-origin: -15% -50%;
  }

  .wrap-coll__delivery {
    display: none;
  }

  .wrap-coll__else {
    display: none;
  }

  .wrap-social {
    margin-right: 0;
    display: none;
  }
  
  .wrap__ellips {
    display: none;
  }
}

@media (max-width: 730px) {
  .wrap-coll__new {
    font-size: 47px;
    top: 560px;
    padding: 0 0 0 220px;
  }
}

@media (max-width: 690px) {
  .wrap-coll__new {
    font-size: 45px;
    top: 515px;
    padding: 0 0 0 210px;
  }
}

@media (max-width: 640px) {
  .wrap-coll__new {
    font-size: 45px;
    top: 475px;
    padding: 0 0 0 200px;
  }
}

@media (max-width: 600px) {
  .wrap-coll__new {
    font-size: 43px;
    top: 435px;
    padding: 0 0 0 180px;
  }
}

@media (max-width: 555px) {
  .wrap-coll__new {
    font-size: 41px;
    top: 395px;
    width: 100%;
    padding: 0 0 0 150px;
  }
}

@media (max-width: 510px) {
  .wrap-coll__new {
    font-size: 41px;
    top: 355px;
    width: 100%;
    padding: 0 0 0 120px;
  }
}

@media (max-width: 470px) {
  .home {
    position: inherit;
  }

  .wrap-foto {
    display: none;
  }

  .wrap-img {
    width: 100%;
    display: block;
    position: absolute;
    padding: 0;
  }

  .wrap-coll__new {
    font-size: 39px;
    top: 405px;
    padding: 0 0 0 100px;
  }

  .vector {
    margin-left: 99px;
  }
}


@media (max-width: 375px) {
  .header {
    background: #fff;
  }

  .logo {
    padding: 14px 0 18px 25px;
  }

  .wrap-img {
    /*top: 15px;*/
    z-index: -1;
  }

  .wrap-coll__new {
    font-size: 50px;
    line-height: 51px;
    top: 364px;
    padding: 0 52px 0 26px;
  }

  .vector {
    margin-left: 139px;
  }
}


@media (min-width: 320px) and (max-width: 350px) {
  .logo {
    padding: 16px 0 16px 25px;
  }

  .logo__loco {
    font-size: 25px;
  }

  .wrap-img {
    top: 70px;
  }

  .wrap-coll__new {
    font-size: 40px;
    top: 310px;
    padding: 0 52px 0 40px;
  }

  .vector {
    margin-left: 109px;
  }
}

@media (max-width: 319px){
  .logo {
    padding: 15px 0 12px 25px;
  }

  .logo__loco {
    font-size: 22px;
  }

  .square {
    width: 60px;
    height: 60px;
  }

  .square__burger {
    padding: 23px 13px;
  }

  .wrap-img {
    top: 15px;
    position: static;
  }

  .wrap-coll__new {
    position: fixed;
    font-size: 40px;
    line-height: 41px;
    top: 340px;
    padding: 0 35px;
  }

  .vector {
    top: 0;
    margin-left: 109px;
  }
}

