*{
  padding: 0;
  margin: 0;
  border: 0;
}

input,button {
  font-family: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  min-width: 320px; 
  max-width: 1440px;
}

.home-page {                       
  background: linear-gradient(to right, #000 460px, #fff 460px);
  min-height: 900px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.logo {
  display: inline-block;
  padding: 34px 0 0 51px;
}

.logo__loco {
  display: inline-block;
  margin-right: 237px;
  color: #fff;
  font: normal 500 30px/37px;
  letter-spacing: .07em;
}

.logo__lang {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font: normal 500 20px/24px;
  cursor: pointer;
}

.logo__lang:hover {
  background: #e4c2d1;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 7px;
}

.square {
  width: 92px;
  height: 92px;
  background: #E5E5E5;
}

.square__burger {
  padding: 40px 29px;
  cursor: pointer;
}

.square__burger:hover {
  background: #e4c2d1;
}

.home {
  position: relative;
}

.wrap-foto {
  display: inline-block;
  padding: 0 52px 0 185px;
  margin-bottom: 78px;
}

.wrap-img {
  display: none;
}

.wrap-coll {
  display: inline-block;
  position: absolute;
  padding-top: 102px;
}

.wrap-coll__new {
  font: normal bold 80px/81px;
  padding-left: 2px;
  margin-bottom: 19px;
}

.wrap-coll__delivery {
  font: normal normal 15px/21px;
  padding: 0 185px 0 3px;
  margin-bottom: 37px;
}

.wrap-coll__read {
  display: inline-block;
  border: 1.4px solid #000;
  font: normal 500 13px;
  padding: 13px 40px;
  margin-right: 49px;
  cursor: pointer;
  background: #fff;
}

.wrap-coll__read:hover {
  background: #e4c2d1;
}

.wrap-coll__other {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font: normal 500 13px;
  cursor: pointer;
}

.wrap-coll__other:hover {
  background: #e4c2d1;
}

.arrow {
  display: inline-block;
  top: 20px;
  right: 400px;
  width: 42px;
  height: 1.5px;
  background: #000;
  margin: 0 0 4px 20px;
}

.arrow:before {
  content: '';
  display: block;
  width: 8px;
  height: 1.4px;
  background: #000;
  margin-left: 36px;
  transform: rotate(-45deg);
  transform-origin: 100% 0%;
}

.arrow:after {
  content: '';
  display: block;
  width: 8px;
  height: 1.4px;
  background: #000;
  margin-left: 36px;
  transform: rotate(45deg);
  transform-origin: 100% 0%;
}

.wrap-social {
  display: block;
  position: absolute;
}

.wrap-social__inst {
  cursor: pointer;
  margin: 0 0 0 52px;
  padding-right: 8px;
}

.wrap-social__inst:hover {
  /*background: #e4c2d1;*/
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.wrap-social__vk {
  cursor: pointer;
  padding-right: 8px;
}

.wrap-social__vk:hover {
  /*background: #e4c2d1;*/
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.wrap-social__face {
  cursor: pointer;
}

.wrap-social__face:hover {
  /*background: #e4c2d1;*/
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.wrap__ellips {
  cursor: pointer;
  display: block;
  margin: auto;
}

.wrap__ellips:hover {
  /*background: #e4c2d1;*/
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.leather-bag {
  background: #FAE8E4;
  min-height: 900px;
  position: relative;
}

.wrapping__bag {
  /*display: inline-block;
  position: absolute;
  top: 217px;
  left: 137px;*/
  display: block;
  padding: 217px 0 0 137px;
}

.wrapping__case {
  display: block;
  /*position: relative;*/
  z-index: 1;
  top: 30px;
  left: 231px;
  position: absolute;
  /* padding-right: 66px;*/
}

.collection {
  width: 34%;
  background: #fff;
  /*display: inline-block;*/
  display: block;
  position: absolute;
  top: 168px;
  left: 879px;
  /*right: 73px;*/
}

.collection__bag {
  /*font: normal bold 40px/41px;*/
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
  padding: 44px 3px 0 55px;
  margin-bottom: 14px;
}

.collection__autumn {
  /*font: normal bold 16px/16px;*/
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: .07em;
  padding: 0 3px 0 55px;
  margin-bottom: 64px;
  opacity: .5;
}

.collection__included {
  /*font: normal normal 15px/21px;*/
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  padding: 0 65px 0 55px;
  margin-bottom: 37px;
  opacity: .5;
}

.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 42px 0 22px;
  margin-bottom: 48px;
  /*display: inline-block;
  padding: 0 68px 0 55px;
  margin-bottom: 46px;*/
}

.color__circle_circle-grey {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #DEDEDE;
  border-radius: 50%;
  margin: 0 7px 4px 0;
  cursor: pointer;
}

.color__circle_circle-grey:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.color__circle_circle-pink {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: #F29F9F;
  border-radius: 50%;
  margin: 13px 8px 0 0;
  cursor: pointer;
}

.color__circle_circle-pink:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.color__circle_circle-blue {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #A8BFF9;
  border-radius: 50%;
  margin: 0 8px 4px 0;
  cursor: pointer;
}

.color__circle_circle-blue:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.color__circle_circle-green {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #90BD8F;
  border-radius: 50%;
  margin-bottom: 4px;
  cursor: pointer;
}

.color__circle_circle-green:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.cost__price {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
}

.amount {
  display: inline-block;
  background: #fff;
  width: 97px;
  height: 42px;
  border: 1.4px solid #000;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 0px;
  margin: 0 12px 44px 55px;
}

.amount__minus {
  background: #fff;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 12px 17px;
  cursor: pointer;
}

.amount__minus:hover {
  background: #e4c2d1;
}

.amount__amount {
  width: 6.5%;
  text-align: center;
}

/*.amount__amount:hover {
  background: #e4c2d1;
}*/

.amount__plus {
  background: #fff;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 12px 17px;
  cursor: pointer;
}

.amount__plus:hover {
  background: #e4c2d1;
}

.add__bask {
  display: inline-block;
  background: #fff;
  border: 1.4px solid #000;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  padding: 22px 47px 21px 39px;
  cursor: pointer;
}

.add__bask:hover {
  background: #e4c2d1;
}

.other-goods {
  display: block;
  /*position: relative;*/
  position: absolute;
  left: 884px;
  bottom: 120px;

}

.other-goods__other {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
}

.other-goods__other:hover {
  background: #e4c2d1;
}

.trait {
  display: inline-block;
  top: 20px;
  right: 400px;
  width: 241px;
  height: 1.5px;
  background: #000;
  margin: 0 0 4px 15px;
}

.trait:before {
  content: '';
  display: block;
  width: 7px;
  height: 1.4px;
  background: #000;
  margin-left: 233px;
  transform: rotate(-49deg);
  transform-origin: 100% 0%;
}

.trait:after {
  content: '';
  display: block;
  width: 7px;
  height: 1.4px;
  background: #000;
  margin-left: 234px;
  transform: rotate(49deg);
  transform-origin: 100% 0%;
}

.serene {
  background: linear-gradient(to right, #EBE3D8 388px, #000 388px, #000 461px, #EBE3D8 461px );
}

.wrapper {
  position: relative;
}

.autumn__look {
  display: block;
  padding: 139px 0 140px 88px;
}

.total-look {
  width: 33%;
  display: block;
  background: #FAE8E4;
  position: absolute;
  top: 255px;
  left: 817px;
}

.total-look__serene {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
  padding: 38px 3px 0 47px;
  margin-bottom: 14px;
}

.total-look__autumn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  padding: 0 8px 0 47px;
  margin-bottom: 35px;
  opacity: .5;
}

.total-look__kit {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  padding: 0 7px 0 50px;
  margin-bottom: 53px;
  opacity: .5;
}

.quantity {
  display: inline-block;
  background: #FAE8E4;
  width: 97px;
  height: 42px;
  border: 1.4px solid #000;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 0px;
  margin: 0 11px 44px 47px;
}

.quantity__minus {
  background: #FAE8E4;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 12px 17px;
  cursor: pointer;
}

.quantity__minus:hover {
  background: #e4c2d1;
}

.quantity__sum {
  background: #FAE8E4;
  width: 6.5%;
  text-align: center;
}

/*.quantity__sum:hover {
  background: #e4c2d1;
}*/

.quantity__plus {
  background: #FAE8E4;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 12px 17px;
  cursor: pointer;
}

.quantity__plus:hover {
  background: #e4c2d1;
}

.add__basket {
  background: #FAE8E4;
  border: 1.4px solid #000;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  padding: 21px 46px 21px 41px;
  cursor: pointer;
}

.add__basket:hover {
  background: #e4c2d1;
}

.other{
  display: block;
  position: absolute;
  left: 948px;
  bottom: 239px;
}

.other__goods {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.other__goods:hover {
  background: #e4c2d1;
}

.lane {
  display: inline-block;
  width: 108px;
  height: 1.5px;
  background: #000;
  margin: 0 0 6px 15px;
}

.lane:before {
  content: '';
  display: block;
  width: 7px;
  height: 1.4px;
  background: #000;
  margin-left: 100px;
  transform: rotate(-49deg);
  transform-origin: 100% 0%;
}

.lane:after {
  content: '';
  display: block;
  width: 7px;
  height: 1.4px;
  background: #000;
  margin-left: 101px;
  transform: rotate(49deg);
  transform-origin: 100% 0%;
}

.developed__work {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  top: 95.9%;
  left: 84%;
    /*top: 863px;
    left: 1210px;*/
    /*bottom: 22px;
    right: 118px;*/
}

.web {
  position: absolute;
  top: 95.8%;
  left: 92.8%;
    /*top: 862px;
    left: 1337px;*/
    /*right: 21px;
    bottom: 16px;*/
}



@media (max-width: 1920px) {
  .home-page {
    background: linear-gradient(to right, #000 560px, #fff 560px);
  }

  .header {
    margin-bottom: 60px;
  }

  .logo__loco {
    font-size: 40px;
    margin-right: 297px;
  }

  .logo__lang {
    font-size: 25px;
  }

  .square {
    width: 102px;
    height: 102px;
  }

  .square__burger {
    padding: 44px 34px;
  }

  .wrap-foto {
    padding: 0 99px 0 105px;
    margin-bottom: 70px;
  }

  .wrap-coll {
    padding-top: 62px;
  }

  .wrap-coll__new {
    font-size: 95px;
    line-height: 90px;
    margin-bottom: 20px;
  }

  .wrap-coll__delivery {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 47px;
    padding: 0 85px 0 3px;
  }

  .wrap-coll__read {
    font-size: 17px;
    padding: 16px 43px;
    margin-right: 85px;
  }

  .wrap-coll__other {
    font-size: 17px;
  }

  .arrow {
    width: 62px;
    margin: 0 0 4px 40px;
  }

  .arrow:before {
    margin-left: 56px;
  }
  
  .arrow:after {
    margin-left: 56px;
  }

  .wrap__ellips {
    display: block;
    margin: auto;
  }
}


@media (max-width: 1600px) {
  .home-page {
    background: linear-gradient(to right, #000 500px, #fff 500px);
  }

  .header {
    margin-bottom: 77px;
  }

  .logo__loco {
    font-size: 35px;
    margin-right: 257px;
  }

  .logo__lang {
    font-size: 22px;
  }

  .square {
    width: 97px;
    height: 97px;
  }

  .square__burger {
    padding: 42px 32px;
  }

  .wrap-foto {
    width: 34%;
    padding: 0 82px 0 145px;
    margin-bottom: 68px;
  }

  .wrap-coll {
    padding-top: 52px;
  }

  .wrap-coll__new {
    font-size: 85px;
    line-height: 85px;
    margin-bottom: 19px;
  }

  .wrap-coll__delivery {
    font-size: 19px;
    line-height: 29px;
    padding: 0 145px 0 3px;
    margin-bottom: 37px;
  }

  .wrap-coll__read {
    font-size: 15px;
    padding: 13px 40px;
    margin-right: 65px;
  }

  .wrap-coll__other {
    font-size: 15px;
  }

  .arrow {
    width: 52px;
    margin: 0 0 4px 40px;
  }

  .arrow:before {
    margin-left: 46px;
  }
  
  .arrow:after {
    margin-left: 46px;
  }
}

@media (max-width: 1440px) {
  .home-page {
    background: linear-gradient(to right, #000 460px, #fff 460px);
    /*height: 100vh;*/
  }

  .logo__loco {
    font-size: 30px;
    margin-right: 237px;
  }

  .logo__lang {
    font-size: 20px;
  }

  .square {
    width: 92px;
    height: 92px;
  }

  .square__burger {
    padding: 40px 29px;
  }

  .wrap-foto {
    width: auto;
    padding: 0 52px 0 185px;
    margin-bottom: 80px;
  }

  .wrap-coll {
    padding-top: 102px;
  }

  .wrap-coll__new {
    font-size: 80px;
    line-height: 81px;
    margin-bottom: 19px;
  }

  .wrap-coll__delivery {
    font-size: 15px;
    line-height: 21px;
    padding: 0 185px 0 3px;
  }

  .wrap-coll__read {
    font-size: 13px;
    margin-right: 50px;
  }

  .wrap-coll__other {
    font-size: 13px;
  }

  .arrow {
    width: 42px;
    margin: 0 0 4px 20px;
  }

  .arrow:before {
    margin-left: 36px;
  }
  
  .arrow:after {
    margin-left: 36px;
  }

  .wrap-social {
    display: block;
    margin-right: 496px;
  }

  .wrap__ellips {
    display: block;
    margin: auto;
  }
}


/*@media (min-width: 1282px) and (max-width: 1438px) {
  .wrapping__bag {
    display: block;
    padding: 157px 0 0 107px;
  }

  .wrapping__case {
    top: 0px;
    left: 181px;
  }

  .collection {
    width: 33%;
    left: 819px;
  }
   .collection__bag {
    padding: 44px 3px 0 45px;
  }

  .collection__autumn {
    padding: 0 13px 0 45px;
  }

  .collection__included {
    padding: 0 45px 0 45px;
  }

  .amount {
    width: 93px;
    height: 40px;
    margin: 0 12px 44px 45px;
  }

  .amount__minus {
    padding: 10px 15px;
  }

  .amount__plus {
    padding: 10px 15px;
  }

  .add__bask {
    padding: 20px 42px 20px 37px;
  }

  .other-goods {
    left: 814px;
    bottom: 86px;
  }

  .trait {
    width: 191px;
  }

  .trait:before {
    margin-left: 183px;
  }

  .trait:after {
    margin-left: 184px;
  }

  .autumn__look {
    padding: 139px 0 140px 78px;
  }

  .total-look {
    width: 33%;
    left: 827px;
  }

  .total-look__serene {
    font-size: 38px;
    padding: 38px 3px 0 40px;
  }

  .total-look__autumn {
    padding: 0 158px 0 40px;
  }

  .total-look__kit {
    padding: 0 57px 0 40px;
  }

  .quantity {
    width: 93px;
    height: 40px;
    margin: 0 11px 44px 40px;
  }

  .quantity__minus {
    padding: 10px 15px;
  }

  .quantity__plus {
    padding: 10px 15px;
  }

  .add__basket {
    padding: 20px 42px 20px 37px;
  }

  .other {
    left: 908px;
    bottom: 179px;
  }

}*/

@media /*(min-width: 1282px) and */(max-width: 1409px){
  .home-page {
    min-height: 850px;
  }

  .header {
    margin-bottom: 67px;
  }

  .wrap-foto {
    width: 38%;
    padding: 0 52px 0 125px;
    margin-bottom: 70px;
  }

  .wrap-coll {
    padding-top: 82px;
  }

  .wrap-coll__new {
    font-size: 75px;
  }

  .wrapping__bag {
    display: block;
    padding: 157px 0 0 107px;
  }

  .wrapping__case {
    top: 0px;
    left: 181px;
  }

  .collection {
    width: 33%;
    left: 819px;
  }
   .collection__bag {
    padding: 44px 3px 0 45px;
  }

  .collection__autumn {
    padding: 0 13px 0 45px;
  }

  .collection__included {
    padding: 0 45px 0 45px;
  }

  .amount {
    width: 93px;
    height: 40px;
    margin: 0 12px 44px 45px;
  }

  .amount__minus {
    padding: 10px 15px;
  }

  .amount__plus {
    padding: 10px 15px;
  }

  .add__bask {
    padding: 20px 42px 20px 37px;
  }

  .other-goods {
    left: 814px;
    /*bottom: 86px;*/
  }

  .trait {
    width: 191px;
  }

  .trait:before {
    margin-left: 183px;
  }

  .trait:after {
    margin-left: 184px;
  }

  .autumn__look {
    padding: 139px 0 140px 78px;
  }

  .total-look {
    width: 33%;
    left: 827px;
  }

  .total-look__serene {
    font-size: 38px;
    padding: 38px 3px 0 40px;
  }

  .total-look__autumn {
    padding: 0 158px 0 40px;
  }

  .total-look__kit {
    padding: 0 57px 0 40px;
  }

  .quantity {
    width: 93px;
    height: 40px;
    margin: 0 11px 44px 40px;
  }

  .quantity__minus {
    padding: 10px 15px;
  }

  .quantity__plus {
    padding: 10px 15px;
  }

  .add__basket {
    padding: 20px 42px 20px 37px;
  }

  .other {
    left: 908px;
    /*bottom: 239px;*/
  }
}

@media /*(min-width: 1153px) and */(max-width: 1281px) {
  .home-page {
    min-height: 760px;
  }

  .header {
    margin-bottom: 37px;
  }

  .wrap-foto {
    width: 40%;
    padding: 0 52px 0 105px;
    margin-bottom: 38px;
  }

  .wrap-coll {
    width: 45%;
    padding-top: 53px;
  }

  .wrap-coll__delivery {
    padding: 0 105px 0 3px;
  }

  .wrap-social {
    margin-right: 0;
  }

  .leather-bag {
    min-height: 760px;
  }

  .wrapping__bag {
    padding: 127px 0 0 67px;
  }

  .wrapping__case {
    width: 41%;
    top: 40px;
    left: 141px;
  }

  .collection {
    width: 33%;
    left: 729px;
    top: 148px;
  }

  .collection__bag {
    font-size: 36px;
    padding: 24px 3px 0 35px;
  }

  .collection__autumn {
    padding: 0 13px 0 35px;
    margin-bottom: 24px;
  }

  .collection__included {
    font-size: 13px;
    padding: 0 45px 0 35px;
    margin-bottom: 7px;
  }

  .price {
    padding: 0 22px 0 22px;
    margin-bottom: 28px;
  }

  .cost__price {
    font-size: 36px;
  }

  .amount {
    width: 89px;
    height: 40px;
    margin: 0 12px 24px 35px;
  }

  .amount__minus {
    padding: 10px 15px;
  }

  .amount__plus {
    padding: 10px 15px;
  }

  .add__bask {
    font-size: 12px;
    padding: 20px 30px 20px 30px;
  }

  .other-goods {
    left: 724px;
    /*bottom: 86px;*/
  }

  .trait {
    width: 141px;
  }

  .trait:before {
    margin-left: 133px;
  }

  .trait:after {
    margin-left: 134px;
  }

  .serene {
    /*min-height: 760px;*/
  }

  .autumn__look {
    width: 59%;
    padding: 139px 0 140px 68px;
  }

  .total-look {
    left: 737px;
    top: 235px;
  }

  .total-look__serene {
    font-size: 36px;
    padding: 38px 3px 0 30px;
  }

  .total-look__autumn {
    padding: 0 18px 0 30px;
  }

  .total-look__kit {
    font-size: 14px;
    padding: 0 57px 0 30px;
  }

  .quantity {
    width: 89px;
    height: 40px;
    margin: 0 11px 44px 30px;
  }

  .quantity__minus {
    padding: 10px 15px;
  }

  .quantity__plus {
    padding: 10px 15px;
  }

  .add__basket {
    font-size: 12px;
    padding: 20px 30px 20px 30px;
  }

  .other {
    left: 824px;
    bottom: 169px;
  }

  .lane {
    width: 48px;
  }

  .lane:before {
    margin-left: 41px;
  }

  .lane:after {
    margin-left: 41px;
  }

  .developed__work {
    left: 82%;
  }

  .web {
    position: absolute;
    left: 91.8%;
  }
}

/*@media (max-width: 1181px) {
  .wrapping__bag {
    width: 32%;
    padding: 157px 0 0 67px;
  }

  .wrapping__case {
    width: 40%;
    top: 90px;
  }

  .collection {
    left: 669px;
    top: 178px;
  }

  .collection__bag {
    font-size: 34px;
    padding: 44px 3px 0 30px;
  }

  .collection__autumn {
    font-size: 15px;
    padding: 0 13px 0 30px;
  }

  .collection__included {
    font-size: 13px;
    padding: 0 30px 0 30px;
  }

  .price {
    padding: 0 12px 0 12px;
  }

  .cost__price {
    font-size: 36px;
  }

  .amount {
    width: 81px;
    height: 36px;
    margin: 0 12px 44px 30px;
  }

  .amount__minus {
    padding: 8px 13px;
  }

  .amount__plus {
    padding: 8px 13px;
  }

  .add__bask {
    font-size: 11px;
    padding: 19px 22px 17px 22px;
  }

  .other-goods {
    left: 664px;
  }

  .other-goods__other {
    font-size: 12px;
  }

  .trait {
    width: 121px;
  }

  .trait:before {
    margin-left: 113px;
  }

  .trait:after {
    margin-left: 113px;
  }

  .autumn__look {
    width: 57%;
    padding: 149px 0 130px 78px;
  }

  .total-look {
    left: 677px;
    top: 215px;
  }

  .total-look__serene {
    font-size: 30px;
    padding: 28px 3px 0 30px;
  }

  .total-look__autumn {
    padding: 0 18px 0 30px;
    font-size: 15px;
  }

  .total-look__kit {
    font-size: 13px;
    padding: 0 57px 0 30px;
  }

  .quantity {
    width: 81px;
    height: 36px;
    margin: 0 11px 44px 30px;
  }

  .quantity__minus {
    padding: 8px 13px;
  }

  .quantity__plus {
    padding: 8px 13px;
  }

  .add__basket {
    padding: 19px 26px 17px 26px;
    font-size: 12px;
  }

  .other {
    left: 758px;
    bottom: 139px;
  }

  .other__goods {
    font-size: 12px;
  }

  .lane {
    width: 38px;
  }

  .lane:before {
    margin-left: 31px;
  }

  .lane:after {
    margin-left: 31px;
  }
}
*/

@media /*(min-width: 1026px) and */(max-width: 1152px) {
  .home-page {
    min-height: 710px;
  }

  .wrap-foto {
    padding: 0 52px 0 85px;
    /*margin-bottom: 98px;*/
  }

  .wrap-coll {
    padding-top: 33px;
  }

  .wrap-coll__new {
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 9px;
  }

  .wrap-coll__delivery {
    padding: 0 85px 0 3px;
    margin-bottom: 17px;
  }

  .wrap-coll__read {
    font-size: 12px;
    padding: 10px 37px;
    margin-right: 19px;
  }

  .wrap-coll__other {
    font-size: 12px;
  }

  .leather-bag {
    min-height: 710px;
  }

  .wrapping__bag {
    width: 30%;
    padding: 137px 0 0 67px;
  }

  .wrapping__case {
    width: 35%;
    top: 70px;
  }

  .collection {
    width: 34%;
    left: 649px;
    top: 138px;
  }

  .collection__bag {
    font-size: 34px;
    padding: 24px 3px 0 30px;
  }

  .collection__autumn {
    font-size: 15px;
    padding: 0 13px 0 30px;
  }

  .collection__included {
    font-size: 13px;
    padding: 0 30px 0 30px;
  }

  .price {
    padding: 0 12px 0 12px;
  }

  .cost__price {
    font-size: 36px;
  }

  .amount {
    width: 81px;
    height: 36px;
    margin: 0 12px 44px 30px;
  }

  .amount__minus {
    padding: 8px 13px;
  }

  .amount__plus {
    padding: 8px 13px;
  }

  .add__bask {
    font-size: 11px;
    padding: 19px 22px 17px 22px;
  }

  .other-goods {
    left: 649px;
    bottom: 86px;
  }

  .other-goods__other {
    font-size: 12px;
  }

  .trait {
    width: 121px;
  }

  .trait:before {
    margin-left: 113px;
  }

  .trait:after {
    margin-left: 113px;
  }

  .serene {
   /* min-height: 710px;*/
  }

  .autumn__look {
    width: 57%;
    padding: 149px 0 130px 78px;
  }

  .total-look {
    left: 677px;
    top: 215px;
  }

  .total-look__serene {
    font-size: 30px;
    padding: 28px 3px 0 30px;
  }

  .total-look__autumn {
    padding: 0 18px 0 30px;
    font-size: 15px;
  }

  .total-look__kit {
    font-size: 13px;
    padding: 0 57px 0 30px;
  }

  .quantity {
    width: 81px;
    height: 36px;
    margin: 0 11px 44px 30px;
  }

  .quantity__minus {
    padding: 8px 13px;
  }

  .quantity__plus {
    padding: 8px 13px;
  }

  .add__basket {
    padding: 19px 26px 17px 26px;
    font-size: 12px;
  }

  .other {
    left: 758px;
    bottom: 139px;
  }

  .other__goods {
    font-size: 12px;
  }

  .lane {
    width: 38px;
  }

  .lane:before {
    margin-left: 31px;
  }

  .lane:after {
    margin-left: 31px;
  }

  .developed__work {
    left: 81%;
  }

  .web {
    left: 91.8%;
  }

}

@media (max-width: 1050px) {
  .home-page {
    background: linear-gradient(to right, #000 330px, #fff 330px);
    min-height: 550px;
  }

  .logo {
    padding: 20px 0 0 31px;
  }

  .logo__loco {
    font-size: 25px;
    margin-right: 157px;
  }

  .logo__lang {
    font-size: 16px;
  }

  .square {
    width: 72px;
    height: 72px;
  }

  .square__burger {
    padding: 29px 19px;
  }

  .wrap-foto {
    width: 34%;
    padding: 0 62px 0 65px;
    margin-bottom: 28px;
  }

  .wrap-coll {
    padding-top: 43px;
  }

  .wrap-coll__new {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 10px;
  }

  .wrap-coll__delivery {
    font-size: 13px;
    padding: 0 5px 0 3px;
    margin-bottom: 25px;
  }

  .wrap-coll__read {
    font-size: 10px;
    padding: 8px 31px;
    margin-right: 35px;
  }

  .wrap-coll__other {
    font-size: 10px;
  }

  .arrow {
    width: 33px;
    margin: 0 0 4px 20px;
  }
  .arrow:before {
    margin-left: 26px;
  }
  .arrow:after {
    margin-left: 26px;
  }

  .wrap-social__inst {
    width: 18%;
  }
  .wrap-social__vk {
    width: 18%;
  }
  .wrap-social__face {
    width: 18%;
  }

  .wrap__ellips {
    width: 2%;
  }

  .leather-bag {
    min-height: 550px;
  }

  .wrapping__bag {
    width: 30%;
    padding: 97px 0 0 67px;
  }

  .wrapping__case {
    width: 35%;
    top: 30px;
    left: 151px;
  }

  .collection {
    width: 31%;
    left: 609px;
    top: 88px;
  }

  .collection__bag {
    font-size: 28px;
    padding: 14px 3px 0 30px;
    margin-bottom: 4px;
  }

  .collection__autumn {
    font-size: 11px;
    padding: 0 13px 0 30px;
    margin-bottom: 14px;
  }

  .collection__included {
    font-size: 11px;
    line-height: 17px;
    padding: 0 20px 0 30px;
    margin-bottom: 0;
  }

  .price {
    padding: 0 12px 0 12px;
    margin-bottom: 10px;
  }

  .color__circle_circle-grey {
    width: 25px;
    height: 25px;
  }

  .color__circle_circle-pink {
    width: 28px;
    height: 28px;
    margin: 13px 8px 3px 0;
  }

  .color__circle_circle-blue {
    width: 25px;
    height: 25px;
  }

  .color__circle_circle-green {
    width: 25px;
    height: 25px;
  }

  .cost__price {
    font-size: 26px;
  }

  .amount {
    width: 70px;
    height: 32px;
    margin: 0 12px 24px 30px;
  }

  .amount__minus {
    padding: 6px 10px;
  }

  .amount__amount {
    width: 5%;
  }

  .amount__plus {
    padding: 6px 11px;
  }

  .add__bask {
    font-size: 10px;
    padding: 18px 16px 14px 16px;
  }

  .other-goods {
    left: 609px;
    bottom: 36px;
  }

  .other-goods__other {
    font-size: 10px;
  }

  .trait {
    width: 91px;
  }

  .trait:before {
    margin-left: 83px;
  }

  .trait:after {
    margin-left: 83px;
  }

  .serene {
    /*min-height: 550px;*/
    background: linear-gradient(to right, #EBE3D8 288px, #000 288px, #000 361px, #EBE3D8 361px );
  }

  .autumn__look {
    width: 56%;
    padding: 80px 0 50px 80px;
  }

  .total-look {
    left: 597px;
    top: 135px;
  }

  .total-look__serene {
    font-size: 28px;
    padding: 18px 3px 0 30px;
    margin-bottom: 4px;
  }

  .total-look__autumn {
    padding: 0 18px 0 30px;
    font-size: 12px;
  }

  .total-look__kit {
    font-size: 13px;
    padding: 0 57px 0 30px;
  }

  .quantity {
    width: 70px;
    height: 32px;
    margin: 0 31px 24px 30px;
  }

  .quantity__minus {
    padding: 6px 10px;
  }

  .quantity__sum {
    width: 6%;
  }

  .quantity__plus {
    padding: 6px 11px;
  }

  .add__basket {
    padding: 18px 16px 14px 16px;
    font-size: 10px;
  }

  .other {
    left: 668px;
    bottom: 59px;
  }

  .other__goods {
    font-size: 10px;
  }

  .lane {
    width: 38px;
  }

  .lane:before {
    margin-left: 31px;
  }

  .lane:after {
    margin-left: 31px;
  }

  .developed__work {
    left: 79%;
  }

  .web {
    left: 90.8%;
  }
}

@media (max-width: 960px) {
  .wrapping__bag {
    width: 28%;
    padding: 97px 0 0 87px;
  }

  .wrapping__case {
    width: 33%;
    left: 161px;
  }

  .collection {
    left: 559px;
  }

   .collection__bag {
    font-size: 26px;
    padding: 14px 3px 0 20px;
  }

  .collection__autumn {
    font-size: 10px;
    padding: 0 13px 0 20px;
  }

  .collection__included {
    font-size: 10px;
    padding: 0 20px 0 20px;
  }

  .price {
    padding: 0 12px 0 0;
  }

  .cost__price {
    font-size: 24px;
  }

  .amount {
    width: 60px;
    height: 28px;
    margin: 0 22px 24px 20px;
  }

  .amount__minus {
    padding: 4px 8px;
  }

  .amount__amount {
    width: 5%;
  }

  .amount__plus {
    padding: 4px 9px;
  }

  .add__bask {
    font-size: 9px;
    padding: 17px 12px 11px 12px;
  }

  .other-goods {
    left: 559px;
  }

  .trait {
    width: 71px;
  }

  .trait:before {
    margin-left: 63px;
  }

  .trait:after {
    margin-left: 63px;
  }

  .autumn__look {
    /*width: 57%;*/
    padding: 100px 0 70px 80px;
  }

  .total-look {
    left: 547px;
    top: 185px;
  }

  .total-look__serene {
    font-size: 26px;
  }

  .total-look__autumn {
    font-size: 11px;
    margin-bottom: 15px;
  }

  .total-look__kit {
    font-size: 11px;
    margin-bottom: 23px;
  }

  .quantity {
    width: 60px;
    height: 28px;
    margin: 0 21px 24px 30px;
  }

  .quantity__minus {
    padding: 5px 9px;
  }

  .quantity__sum {
    width: 5.5%;
  }

  .quantity__plus {
    padding: 5px 8px;
  }

  .add__basket {
    padding: 17px 12px 11px 12px;
    font-size: 9px;
  }

  .other {
    left: 620px;
    bottom: 66px;
  }

  .lane {
    width: 28px;
    margin: 0 0 5px 9px;
  }

  .lane:before {
    margin-left: 21px;
  }

  .lane:after {
    margin-left: 21px;
  }

  .developed__work {
    left: 76.3%;
    top: 95.9%;
  }

  .web {
    left: 89.8%;
    top: 95.8%;
  }
}
  

@media (max-width: 854px) {
  .home-page {
    background: linear-gradient(to right, #000 250px, #fff 250px);
    min-height: 480px;
  }

  .header {
    margin-bottom: 17px;
  }

  .logo__loco {
    font-size: 22px;
    margin-right: 87px;
  }

  .logo__lang {
    font-size: 15px;
  }

  .square {
    width: 62px;
    height: 62px;
  }

  .square__burger {
    padding: 24px 14px;
  }

  .wrap-foto {
    width: 36%;
    padding: 0 55px 0 70px;
    margin-bottom: 38px;
  }

  /*.wrap-img {
    display: inline-block;
    width: 34%;
    padding: 0 30px;
  }*/

  .wrap-coll__new {
    font-size: 38px;
    line-height: normal;
    margin-bottom: 5px;
    padding: 0;
  }
  .wrap-coll__delivery {
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px 0 3px;
    margin-bottom: 19px;
  }
  .wrap-coll__read {
    font-size: 9px;
    padding: 8px 21px;
    margin-right: 30px;
  }
  .wrap-coll__other {
      font-size: 9px;
  }
  .arrow {
    width: 33px;
    margin: 0 0 4px 15px;
  }
  .wrap-social {
    display: block;
    width: 20%;
  }

  .wrap-social__inst {
    width: 15%;
    margin: 0 0 0 60px;
  }
  .wrap-social__vk {
    width: 15%;
  }
  .wrap-social__face {
    width: 15%;
  }

  /*.wrap__ellips {
    display: inline-block;
  }*/

  .leather-bag {
    min-height: 480px;
  }

  .wrapping__bag {
    width: 26%;
    padding: 97px 0 0 87px;
  }

  .wrapping__case {
    width: 31%;
  }

  .collection {
    width: 31%;
    left: 489px;
  }

  .collection__bag {
    font-size: 24px;
  }

  .collection__autumn {
    font-size: 10px;
  }

  .collection__included {
    font-size: 9px;
    line-height: 16px;
  }

  .color__circle_circle-grey {
    width: 20px;
    height: 20px;
    margin: 0 1px 2px 0;
  }

  .color__circle_circle-pink {
    width: 23px;
    height: 23px;
    margin: 5px 1px 1px 0;
  }

  .color__circle_circle-blue {
    width: 20px;
    height: 20px;
    margin: 0 1px 2px 0;
  }

  .color__circle_circle-green {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;  
  }

  .cost__price {
    font-size: 22px;
  }

  .amount {
    width: 55px;
    height: 26px;
    margin: 0 12px 14px 20px;
  }

  .amount__minus {
    padding: 6px 8px;
    font-size: 12px;
  }

  .amount__amount {
    width: 5.5%;
  }

  .amount__plus {
    padding: 6px 8px;
    font-size: 12px;
  }

  .add__bask {
    font-size: 8px;
    padding: 15px 12px 11px 12px;
  }

  .other-goods {
    left: 489px;
  }

  .other-goods__other {
    font-size: 9px;
  }

  .trait {
    width: 51px;
  }

  .trait:before {
    margin-left: 43px;
  }

  .trait:after {
    margin-left: 43px;
  }

  .serene {
    /*min-height: 550px;*/
    background: linear-gradient(to right, #EBE3D8 188px, #000 188px, #000 261px, #EBE3D8 261px );
  }

  .autumn__look {
    width: 55%;
  }

  .total-look {
    left: 487px;
    top: 165px;
    width: 32%;
  }

  .total-look__serene {
    font-size: 22px;
    padding: 3px 3px 0 20px;
  }

  .total-look__autumn {
    padding: 0 18px 0 20px;
    font-size: 10px;
    margin-bottom: 10px;
  }

  .total-look__kit {
    font-size: 9px;
    margin-bottom: 15px;
    padding: 0 57px 0 20px;
  }

  .quantity {
    width: 55px;
    height: 26px;
    margin: 0 11px 24px 20px;
  }

  .quantity__minus {
    padding: 6px 8px;
    font-size: 12px;
  }

  .quantity__sum {
    width: 5.5%;
  }

  .quantity__plus {
    padding: 6px 8px;
    font-size: 12px;
  }

  .add__basket {
    padding: 15px 12px 11px 12px;
    font-size: 8px;
  }

  .other {
    left: 555px;
  }

  .other__goods {
    font-size: 9px;
  }

  .developed__work {
    left: 74.2%;
    top: 95.5%;
  }

  .web {
    left: 88.8%;
    top: 95.2%;
  }
}

@media (max-width: 768px) {
  .home-page {
    background: none;
    min-height: 856px;
  }

  .header {
    margin-bottom: 0;
  }

  .logo {
    padding: 20px 0 0 31px;
  }

  .logo__loco {
    font-size: 30px;
    color: #000;
    margin-right: 0;
  }

  .logo__lang {
    display: none;
  }

  .square {
    width: 70px;
    height: 70px;
  }

  .square__burger {
    padding: 28px 18px;
  }

  .wrap-coll {
    padding-top: 0;
  }

  .wrap-foto {
    display: block;
    position: absolute;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }

  .wrap-img {
    display: none;
  }

  .wrap-coll__new {
    font-size: 49px;
    top: 570px;
    padding: 0 0 0 230px;
    position: relative;
    margin-bottom: 0;
  }

  .vector {
    display: block;
    width: 100%;
    margin-left: 119px;
    cursor: pointer;
    position: relative;
    bottom: 10px;
  }

  .vector:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 3px;
    background: #000;
    transform: rotate(45deg);
    transform-origin: 120% 100%;
  }

  .vector:after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 3px;
    background: #000;
    transform: rotate(-405deg);
    transform-origin: -15% -50%;
  }

  .wrap-coll__delivery {
    display: none;
  }

  .wrap-coll__else {
    display: none;
  }

  .wrap-social {
    margin-right: 0;
    display: none;
  }
  
  .wrap__ellips {
    display: none;
  }

  .leather-bag {
    position: initial;
    min-height: 855px;
  }

  .wrapping__bag {
    display: inline-block;
    width: 38%;
    padding: 55px 0 0 167px;
  }

  .wrapping__case {
    display: inline-block;
    width: 43%;
    top: 855px;
    left: 250px;
  }

  .collection {
    display: inline-block;
    position: inherit;
    margin: 60px 0 0 191px;
    width: 50%;
  }

  .collection__bag {
    font-size: 30px;
    padding: 20px 40px 0;
    margin-bottom: 14px;
  }

  .collection__autumn {
    font-size: 15px;
    padding: 0 40px 0;
    margin-bottom: 15px;
  }

  .collection__included {
    font-size: 12px;
    line-height: 19px;
    padding: 0 40px 0;
  }

  .price {
    padding: 0 20px 0 20px;
    margin-bottom: 15px;
  }

  .color__circle_circle-grey {
    width: 30px;
    height: 30px;
    margin: 0 7px 4px 0;
  }

  .color__circle_circle-pink {
    width: 38px;
    height: 38px;
    margin: 13px 8px 3px 0
  }

  .color__circle_circle-blue {
    width: 30px;
    height: 30px;
    margin: 0 7px 4px 0;
  }

  .color__circle_circle-green {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
  }

  .cost__price {
    font-size: 34px;
  }

  .amount {
    width: 80px;
    height: 35px;
    margin: 0 34px 25px 40px;
  }

  .amount__minus {
    padding: 10px 14px;
  }

  .amount__amount {
    width: 5%;
  }

  .amount__plus {
    padding: 10px 14px;
  }

  .add__bask {
    font-size: 11px;
    padding: 19px 22px 17px 22px;
  }

  .other-goods {
    display: none;
  }

  .wrapper {
    position: initial;
  }

  .autumn__look {
    display: inline-block;
    width: 85%;
    padding: 100px 0 0 60px;
  }

  .total-look {
    width: 55%;
    position: relative;
    display: inline-block;
    z-index: 1;
    bottom: 60px;
    top: auto;
    left: 180px;
    margin-bottom: 45px;
  }

  .total-look__serene {
    padding: 28px 3px 0 47px;
    font-size: 35px;
    margin-bottom: 14px;
  }

  .total-look__autumn {
    font-size: 15px;
    padding: 0 3px 0 47px;
    margin-bottom: 20px;
  }

  .total-look__kit {
    padding: 0 103px 0 47px;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 43px;
  }

  .quantity {
    width: 80px;
    height: 35px;
    margin: 0 34px 30px 40px;
  }

  .quantity__minus {
    padding: 10px 14px;
  }

  .quantity__sum {
    width: 5%;
  }

  .quantity__plus {
    padding: 10px 14px;
  }

  .add__basket {
    font-size: 11px;
    padding: 18px 22px 17px 22px;
  }

  .other {
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0;
    top: 35px;
  }

  .other__goods {
    font-size: 15px;
  }

  .developed__work {
    display: inline-block;
    position: absolute;
    left: 72.2%;
    top: auto;
  }

  .web {
    position: relative;
    left: 87.8%;
    top: 95%;
  }
}

@media (max-width: 730px) {
  .wrap-coll__new {
    font-size: 47px;
    top: 535px;
    padding: 0 0 0 220px;
  }
}

@media (max-width: 690px) {
  .wrap-coll__new {
    font-size: 45px;
    top: 490px;
    padding: 0 0 0 210px;
  }
}

@media (max-width: 640px) {
  .wrap-coll__new {
    font-size: 45px;
    top: 450px;
    padding: 0 0 0 200px;
  }
}

@media (max-width: 600px) {
  .wrap-coll__new {
    font-size: 43px;
    top: 410px;
    padding: 0 0 0 180px;
  }
}

@media (max-width: 555px) {
  .wrap-coll__new {
    font-size: 41px;
    top: 370px;
    width: 100%;
    padding: 0 0 0 150px;
  }
}

@media (max-width: 510px) {
  .wrap-coll__new {
    font-size: 41px;
    top: 330px;
    width: 100%;
    padding: 0 0 0 120px;
  }
}

@media (max-width: 470px) {
  .home {
    position: inherit;
  }

  .wrap-foto {
    display: none;
  }

  .wrap-img {
    width: 100%;
    display: block;
    position: absolute;
    padding: 0;
  }

  .wrap-coll__new {
    font-size: 39px;
    top: 450px;
    padding: 0 0 0 100px;
  }

  .vector {
    margin-left: 99px;
  }
}


@media (max-width: 375px) {
  .home-page {
    min-height: 598px;
  }

  .header {
    background: #fff;
  }

  .logo {
    padding: 14px 0 18px 25px;
  }

  .wrap-img {
    top: 15px;
    z-index: -1;
  }

  .wrap-coll__new {
    font-size: 50px;
    line-height: 51px;
    top: 364px;
    padding: 0 52px 0 26px;
  }

  .vector {
    margin-left: 139px;
    bottom: 0;
  }

  .leather-bag {
    position: initial;
    min-height: 333px;
  }

  .wrapping__bag {
    display: none;
  }

  .wrapping__case {
    display: inline-block;
    width: 60%;
    padding: 0 76px;
    top: 544px;
    left: 0;
  }

  .collection {
    display: inline-block;
    width: 85%;
    top: 0;
    left: 0;
    margin: 263px 27px 52px 29px;
    position: inherit;
  }

  .collection__bag {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 99px 0 28px;
    margin-bottom: 4px;
  }

  .collection__autumn {
    font-size: 10px;
    line-height: 10px;
    padding: 0 139px 0 30px;
    margin-bottom: 13px;
  }

  .collection__included {
    font-size: 9px;
    line-height: 13px;
    padding: 0 37px 0 30px;
    margin-bottom: 4px;
  }

  .price {
    margin-bottom: 25px;
    padding: 0 13px 0 9px;
  }

  .color__circle_circle-grey {
    width: 23px;
    height: 23px;
    margin: 0 5px 4px 0;
  }

  .color__circle_circle-pink {
    width: 29px;
    height: 29px;
    margin: 13px 5px 0 0;
  }

  .color__circle_circle-blue {
    width: 23px;
    height: 23px;
    margin: 0 6px 4px 0;
  }

  .color__circle_circle-green {
    width: 23px;
    height: 23px;
    margin: 0 10px 4px 0;
  }

  .cost__price {
    font-size: 20px;
    line-height: 28px;
    padding: 8px 0 0 2px;
  }

  .amount {
    display: none;
  }

  .add__bask {
    margin: 0 29px 25px 31px;
    padding: 18px 47px 18px 46px;
  }

  .other-goods {
    display: none;
  }

  .serene {
    background: linear-gradient(to right, #EBE3D8 102px, #000 102px, #000 143px, #EBE3D8 143px );
    min-height: 598px;
  }
  
  .wrapper {
    position: initial;
  }

  .autumn__look {
    display: block;
    width: 93%;
    padding: 34px 13px 0 13px;
  }

  .total-look {
    width: 81%;
    display: inline-block;
    background: #FAE8E4;
    margin: 0 20px 16px 45px;
    /*position: absolute;*/
    position: relative;
    z-index: 1;
    bottom: 20px;
    top: auto;
    /*top: 275px;*/
    left: 0;
  }

  .total-look__serene {
    font-size: 20px;
    line-height: 20px;
    padding: 24px 40px 0 24px;
    margin-bottom: 7px;
  }

  .total-look__autumn {
    font-size: 10px;
    line-height: 10px;
    padding: 0 10px 0 24px;
    margin-bottom: 8px;
  }

  .total-look__kit {
    font-size: 9px;
    line-height: 13px;
    padding: 0 55px 0 23px;
    margin-bottom: 21px;
  }

  .quantity {
    display: none;
  }

  .add__basket {
    padding: 17px 47px 17px 48px;
    margin: 0 20px 28px 22px;
  }

  .other {
    display: inline-block;
    padding: 0 45px 40px 188px;
    position: inherit;
    left: 0;
    bottom: 0;
  }

  .other__goods {
    font-size: 15px;
    line-height: 18px;
  }

  .lane {
    width: 132px;
    margin: 0 0 5px 2px;
  }

  .lane:before {
    margin-left: 126px;
  }

  .lane:after {
    margin-left: 127px;
  }

  .developed {
    display: none;
  }

  .web {
    display: none;
  }
}


@media (min-width: 320px) and (max-width: 360px) {
  .logo {
    padding: 16px 0 16px 25px;
  }

  .logo__loco {
    font-size: 25px;
  }

  .wrap-img {
    top: 70px;
  }

  .wrap-coll__new {
    font-size: 40px;
    top: 360px;
    padding: 0 52px 0 40px;
  }

  .vector {
    margin-left: 109px;
    bottom: 10px;
  }
}

@media (max-width: 319px){
  .logo {
    padding: 15px 0 12px 25px;
  }

  .logo__loco {
    font-size: 22px;
  }

  .square {
    width: 60px;
    height: 60px;
  }

  .square__burger {
    padding: 23px 13px;
  }

  .wrap-img {
    top: 15px;
    position: static;
  }

  .wrap-coll__new {
    position: fixed;
    font-size: 40px;
    line-height: 41px;
    top: 390px;
    padding: 0 35px;
  }

  .vector {
    top: 0;
    margin-left: 109px;
  }
}

