*{
    padding: 0;
    margin: 0;
    border: 0;
}

input,button {
    font-family: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
 margin: 0 auto;
 min-width: 320px; 
 max-width: 2048px;
}

.home-page {                       
  background: linear-gradient(to right, #000 460px, #fff 460px);
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.logo {
  display: inline-block;
  padding: 34px 0 0 51px;
}

.logo__loco {
  display: inline-block;
  margin-right: 237px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: .07em;
}

.logo__lang {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 7px;
}

.square {
  width: 92px;
  height: 92px;
  background: #E5E5E5;
}

.square__burger {
  padding: 40px 29px;
}

.home { 
}
.wrap {
}
  
.wrap-foto {
  display: inline-block;
  padding: 0 52px 0 185px;
  margin-bottom: 78px;
}

.wrap-img {
  display: none;
}

.wrap-coll {
  display: inline-block;
  position: absolute;
  padding-top: 102px;
}

.wrap-coll__new {
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 81px;
  padding-left: 2px;
  margin-bottom: 19px;
}

.wrap-coll__delivery {
    font-style: normal;
    font-weight: normal;
    font-size: 15px; 
    line-height: 21px;
    padding: 0 185px 0 3px;
    margin-bottom: 37px;
}

.wrap-coll__else {
}

.wrap-coll__read {
    display: inline-block;
    border: 1.5px solid #000;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    padding: 13px 40px;
    margin-right: 49px;
}

.wrap-coll__other {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.arrow {
  display: inline-block;
  top: 20px;
  right: 400px;
  width: 42px;
  height: 1.5px;
  background: #000;
  margin: 0 0 4px 20px;
}

.arrow:before {
  content: '';
  display: block;
  top: 0;
  right: 0;
  width: 8px;
  height: 1.4px;
  background: #000;
  margin-left: 36px;
  transform: rotate(-45deg);
  transform-origin: 100% 0%;
}

.arrow:after {
  content: '';
  display: block;
  top: 0;
  right: 0;
  width: 8px;
  height: 1.4px;
  background: #000;
  margin-left: 36px;
  transform: rotate(45deg);
  transform-origin: 100% 0%;
}

.wrap-social {
    display: inline-block;
    margin-right: 496px;
}

.wrap-social__inst {
    margin: 0 0 0 52px;
    padding-right: 8px;
}
.wrap-social__vk {
    padding-right: 8px;
}

.wrap-social__face {
}
.wrap__ellips {
}


@media (max-width: 1920px) {
  .home-page {
    background: linear-gradient(to right, #000 560px, #fff 560px);
    height: 100vh; 
  }

  .logo__loco {
    font-size: 40px;
    margin-right: 297px;
  }

  .logo__lang {
    font-size: 25px;
  }

  .square {
    width: 102px;
    height: 102px;
  }

  .square__burger {
    padding: 44px 34px;
  }

  .wrap-foto {
    width: 36%;
    padding: 0 89px 0 185px;
    margin-bottom: 88px;
  }

  .wrap-coll {
    padding-top: 72px;
  }

  .wrap-coll__new {
    font-size: 100px;
    margin-bottom: 29px;
  }

  .wrap-coll__delivery {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 57px;
  }

  .wrap-coll__read {
    font-size: 17px;
    padding: 16px 43px;
    margin-right: 85px;
  }

  .wrap-coll__other {
    font-size: 17px;
  }

  .arrow {
    width: 62px;
    margin: 0 0 4px 40px;
  }

  .arrow:before {
    margin-left: 56px;
  }
  
  .arrow:after {
    margin-left: 56px;
  }

  .wrap-social {
    display: block;
    position: fixed;
  }

  .wrap__ellips {
    display: block;
    margin: auto;
  }
}


@media (max-width: 1600px) {
  .home-page {
    background: linear-gradient(to right, #000 500px, #fff 500px);
    height: 100vh; 
  }

  .logo__loco {
    font-size: 35px;
    margin-right: 257px;
  }

  .logo__lang {
    font-size: 22px;
  }

  .square {
    width: 97px;
    height: 97px;
  }

  .square__burger {
    padding: 42px 32px;
  }

  .wrap-foto {
    width: 34%;
    padding: 0 72px 0 185px;
    margin-bottom: 68px;
  }

  .wrap-coll {
    padding-top: 52px;
  }

  .wrap-coll__new {
    font-size: 89px;
    margin-bottom: 29px;
  }

  .wrap-coll__delivery {
    font-size: 19px;
    line-height: 29px;
    padding: 0 165px 0 3px;
    margin-bottom: 37px;
  }

  .wrap-coll__read {
    font-size: 15px;
    padding: 14px 41px;
    margin-right: 65px;
  }

  .wrap-coll__other {
    font-size: 15px;
  }

  .arrow {
    width: 52px;
    margin: 0 0 4px 40px;
  }

  .arrow:before {
    margin-left: 46px;
  }
  
  .arrow:after {
    margin-left: 46px;
  }
}

@media (max-width: 1440px) {
  .home-page {
    background: linear-gradient(to right, #000 460px, #fff 460px);
    height: 100vh;
  }

  .logo__loco {
    font-size: 30px;
    margin-right: 237px;
  }

  .logo__lang {
    font-size: 20px;
  }

  .square {
    width: 92px;
    height: 92px;
  }

  .square__burger {
    padding: 40px 29px;
  }

  .wrap-foto {
    width: auto;
    padding: 0 52px 0 185px;
    margin-bottom: 80px;
  }

  .wrap-coll {
    padding-top: 102px;
  }

  .wrap-coll__new {
    font-size: 80px;
    margin-bottom: 19px;
  }

  .wrap-coll__delivery {
    font-size: 15px;
    line-height: 21px;
    padding: 0 185px 0 3px;
  }

  .wrap-coll__read {
    font-size: 13px;
    padding: 13px 40px;
    margin-right: 49px;
  }

  .wrap-coll__other {
    font-size: 13px;
  }

  .arrow {
    width: 42px;
    margin: 0 0 4px 20px;
  }

  .arrow:before {
    margin-left: 36px;
  }
  
  .arrow:after {
    margin-left: 36px;
  }

  .wrap-social {
    display: block;
    margin-right: 496px;
  }

  .wrap__ellips {
    display: block;
    margin: auto;
  }
}

@media (max-width: 1281px) {
  .header {
    margin-bottom: 37px;
  }

  .wrap-foto {
    width: 40%;
    padding: 0 52px 0 105px;
    margin-bottom: 38px;
  }

  .wrap-coll {
    width: 45%;
    padding-top: 53px;
  }

  .wrap-coll__delivery {
    padding: 0 105px 0 3px;
  }

  .wrap-social {
    margin-right: 0;
  }
}

@media (max-width: 1152px) {
  .wrap-foto {
    padding: 0 52px 0 85px;
    margin-bottom: 98px;
  }

  .wrap-coll {
    padding-top: 33px;
  }

  .wrap-coll__new {
    font-size: 65px;
    margin-bottom: 9px;
  }

  .wrap-coll__delivery {
    padding: 0 85px 0 3px;
    margin-bottom: 17px;
  }

  .wrap-coll__read {
    font-size: 12px;
    padding: 10px 37px;
    margin-right: 19px;
  }

  .wrap-coll__other {
    font-size: 12px;
  }
}

@media (max-width: 1025px) {
  .home-page {
    background: linear-gradient(to right, #000 330px, #fff 330px);
    height: 100vh;
  }

  .logo {
    padding: 20px 0 0 31px;
  }

  .logo__loco {
    font-size: 25px;
    margin-right: 157px;
  }

  .logo__lang {
      font-size: 16px;
  }

  .square {
      width: 72px;
      height: 72px;
  }

  .square__burger {
      padding: 29px 19px;
  }

  .wrap-foto {
      width: 34%;
      padding: 0 42px 0 45px;
      margin-bottom: 28px;
  }

  .wrap-coll {
      padding-top: 53px;
  }

  .wrap-coll__new {
      font-size: 40px;
      line-height: normal;
      margin-bottom: 10px;
  }

  .wrap-coll__delivery {
    font-size: 13px;
    padding: 0 5px 0 3px;
    margin-bottom: 25px;
  }

  .wrap-coll__read {
      font-size: 10px;
      padding: 8px 31px;
      margin-right: 35px;
  }

  .wrap-coll__other {
      font-size: 10px;
  }

  .arrow {
      width: 33px;
      margin: 0 0 4px 20px;
  }
  .arrow:before {
      margin-left: 26px;
  }
  .arrow:after {
      margin-left: 26px;
  }

  .wrap-social__inst {
      width: 18%;
  }
  .wrap-social__vk {
      width: 18%;
  }
  .wrap-social__face {
      width: 18%;
  }

  .wrap__ellips {
      width: 2%;
  }
}


@media (max-width: 854px) {
  .home-page {
    background: linear-gradient(to right, #000 250px, #fff 250px);
    height: 100vh;
  }

  .header {
    margin-bottom: 17px;
  }

  .logo__loco {
    font-size: 22px;
    margin-right: 87px;
  }

  .logo__lang {
    font-size: 15px;
  }

  .square {
    width: 62px;
    height: 62px;
  }

  .square__burger {
    padding: 24px 14px;
  }

  .wrap-foto {
    display: none;
  }

  .wrap-img {
      display: inline-block;
      width: 34%;
      padding: 0 30px;
  }

  .wrap-coll__new {
    font-size: 38px;
    line-height: normal;
    margin-bottom: 5px;
    padding: 0;
  }
  .wrap-coll__delivery {
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px 0 3px;
    margin-bottom: 19px;
  }
  .wrap-coll__read {
    font-size: 9px;
    padding: 8px 25px;
    margin-right: 25px;
  }
  .wrap-coll__other {
      font-size: 9px;
  }
  .arrow {
    width: 33px;
    margin: 0 0 4px 15px;
  }
  .wrap-social {
    display: none;
  }
  .wrap__ellips {
    display: inline-block;
  }

}

@media (max-width: 768px) {
  .header {
    margin-bottom: 7px;
  }

  .wrap-img {
    width: 36%;
  }

  .wrap-coll {
    padding-top: 23px;
  }

  .wrap-coll__new {
    font-size: 45px;
  }

  .wrap-coll__read {
    display: none;
  }

}


  @media (max-width: 680px) {
    .home-page {
    background: linear-gradient(to right, #000 200px, #fff 200px);
  }
    .header {
      margin-bottom: 7px;
    }

    .logo {
    padding: 10px 0 0 15px;
    }

    .logo__loco {
    font-size: 20px;
    margin-right: 67px;
   }

   .logo__lang {
    font-size: 13px;
  }

i {
    border-width: 0 2px 2px 0;
}
.square {
    width: 52px;
    height: 52px;
}

.square__burger {
    padding: 21px 13px;
    width: 50%;
}

  .wrap-img {
    width: 45%;
    padding: 0 20px;
    }

  .wrap-coll {
      padding-top: 3px;
    }

  .wrap-coll__new {
      font-size: 35px;
    }

  .wrap-coll__delivery {
      font-size: 9px;
    }

  .wrap-coll__other {
      font-size: 8px;
    }
}

@media (max-width: 480px) {
  .home-page {
    background: linear-gradient(to right, #000 150px, #fff 150px);
}

.logo {
    padding: 10px 0 0 15px;
}

.loco__lang {
  display: none;
}

.square {
    width: 42px;
    height: 42px;
}
.square__burger {
    padding: 17px 11px;
}

.wrap-img {
    padding: 0 15px 0 10px;
}

.wrap-coll__new {
    font-size: 30px;
}

.wrap-coll__delivery {
    font-size: 8px;
}

.wrap-coll__other {
    display: none;
}

.wrap__ellips {
    display: block;
    margin: auto;
}
}


@media (max-width: 375px) {
 .home-page {
    background: none;
  }

  .header {
    margin-bottom: 0; 
  }

  .logo {
    visibility: visible;
    padding: 14px 0 18px 25px;
  }

  .logo__loco {
    font-size: 30px;
    color: #000;
    margin-right: 0;
  }

  .logo__lang {
    display: none;
  }

  .square {
    width: 70px;
    height: 70px;
  }

  .square__burger {
    padding: 27px 17px;
  }

  .wrap-foto {
    display: none;
  }

  .wrap-img {
    width: 100%;
    display: block;
    position: absolute;
    padding: 0;
  }

  .wrap-coll {
    padding-top: 0;
  }

  .wrap-coll__new {
    position: relative;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
    top: 364px;
    padding: 0 52px 0 26px;
    margin-bottom: 0;
  }

  .vector {
    display: inline-block;
    margin-left: 139px;
  }
  
  .vector:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 3px;
    background: #000;
    transform: rotate(45deg);
    transform-origin: 120% 100%;
  }

  .vector:after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 3px;
    background: #000;
    transform: rotate(-405deg);
    transform-origin: -240% -1800%;
  }

  .wrap-coll__delivery {
    display: none;
  }

  .wrap-coll__else {
    display: none;
  }

  .wrap-social {
    margin-right: 0;
    display: none;
  }
  
  .wrap__ellips {
    display: none;
  }
}


@media (min-width: 320px) and (max-width: 374px) {
   .wrap-img {
    width: 100%;
  }

  .wrap-coll__new {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    top: 304px;
    padding: 0 52px 0 26px;
    margin-bottom: 0;
  }

  .vector {
    display: inline-block;
    margin-left: 109px;
  }
}


